* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-family: Arial, Serif;
    margin-top: 5px;
    background-color: lightblue;
    font-size: xx-large;
    text-align: center;
}

.links {
    margin-top: 5px;
    text-align: center;
}

.links div {
    margin-left: 5px;
    margin-top: 5px;
    background-color: lightblue;
    text-space: 5px;
    border-style: solid;
    width: 100%;
}

.links a {
    color: black;
    text-decoration: none;
}

.links div:hover {
    background-color: gray;
}
.Inleiding {
    margin-top: 15px;
}

@media screen and (max-width: 1180px) {
    .title {
        font-size: xxx-large;
    }
    a {
        font-size: xxx-large;
    }
}

@media screen and (min-width: 1180px) {
    .links div{
        width: 25%;
        display: inline-block;
    }
}