* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    font-family: Arial;
    margin-top: 5px;
    background-color: lightblue;
    font-size: xx-large;
    text-align: center;
}